@import "theme";
@import "mixins";

.panel {
  padding: 16px;
  .border-radius();
  background-color: @background-color-light;
  .box-shadow(1px, 1px, 1px, 0.1);
  margin-top: 8px;
}

.panel:first-child {
  margin-top: 0;
}

.box {
  padding: 8px;
}

ul {
  &.side-nav {
    margin: 8px 4px;

    li {
      a {
        display: block;
        padding: 8px 8px;

        border: 0;
        color: @primary-color-dark;
        transition: 0.1s;

        &:hover {
          color: @primary-color;
          background-color: lighten(@secondary-color, 11%);
        }
      }
    }
  }
}
