@import "theme";
@import "mixins";
@import "font-awesome/variables";

@keyframes checked {
  0% {
    transform: rotate(0deg);
    border-radius: 3px;
    background-color: transparent;
  }
  100% {
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: @primary-color-dark;
  }
}

@keyframes unchecked {
  0% {
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: @primary-color-dark;
  }
  100% {
    transform: rotate(0deg);
    border-radius: 3px;
    background-color: transparent;
  }
}

input,
button,
textarea,
label {
  margin-bottom: 16px;
  outline: none;
  margin-top: 8px;
}

textarea {
  resize: vertical;
}

input[type=text],
input[type=password],
textarea,
select {
  .border-radius();
  .border();
  padding: 10px;
  width: 100%;
  background-color: @background-color-light;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  .border(@color: @primary-color-dark);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #D4D4D4;
  position: relative;
  border-radius: 3px;
  transform: rotate(0deg);
  font-size: 11px;
  padding: 9px;
  margin-right: 10px;
  float: left;
  animation: unchecked 0.3s cubic-bezier(0.9, 0.01, 0, 0.99);
}

input[type="checkbox"]:checked {
  background-color: @primary-color-dark;
  transform: rotate(45deg);
  border-radius: 50%;
  animation: checked 0.3s cubic-bezier(0.9, 0.01, 0, 0.99);
}

input[type="checkbox"]:hover {
  outline: none;
}

input[type="checkbox"]:checked:after{
  position: absolute;
  font-family: FontAwesome;
  content: "\f00c";
  color: white;
  outline: none;
  top: 1px;
  line-height: 17px;
  left: 4px;
  transform: rotate(-45deg);
}

input[type="checkbox"] + label {
  display: inline-flex;
  float: left;
}

button {
  background-color: @primary-color;
  .border-radius();
  padding: 10px;
  border: 0;
  font-weight: bold;
  color: @text-color-light;

  &:hover {
    background-color: @primary-color-dark;
    color: @text-color-light;
  }
}

button.outline {
  background-color: @background-color-light;
  border: 3px @primary-color solid;
  color: @primary-color;
}

button.outline:hover {
  background-color: @background-color;
  color: @primary-color-dark;
}

button.expand {
  width: 100%;
}
