@import "theme";

input,
button,
textarea {
  margin-bottom: 16px;
  outline: none;
  margin-top: 8px;
}

textarea {
  resize: vertical;
}

input[type=text],
input[type=password],
textarea,
select {
  border-radius: 3px;
  border: 1px #e2e2e2 solid;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border: 1px @primary-color-dark solid;
}

button {
  background-color: @primary-color;
  border-radius: 3px;
  padding: 10px;
  border: 0;
  font-weight: bold;
  color: #f7f7f7;
}

button:hover {
  background-color: @primary-color-dark;
  color: #ffffff;
}

button.outline {
  background-color: #ffffff;
  border: 3px @primary-color solid;
  color: #95bbe0;
}

button.outline:hover {
  background-color: #f7f7f7;
  color: @primary-color-dark;
}

button.expand {
  width: 100%;
}
