@import "theme";

.message {
  padding: 10px;
  border-radius: 3px;
  margin: 15px 0;
  text-align: center;

  background-color: @primary-color;
  color: #ffffff;
}

.message.error {
  background-color: @error-color;
  color: #ffffff;
}

.message.warning {
  background-color: @warning-color;
  color: #333;
}

.message.success {
  background-color: @success-color;
  color: #fff;
}
